/* Here will all the CSS for the startpage be designed */
@import url(https://fonts.googleapis.com/css?family=Oswald);

body{
   background-image: url(/wood-page.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.pagetitle{
  font-size: 90px;
  display: ruby-base-container;
  

    background-image:url("ClipartKey_1226540.png");
    background-repeat: no-repeat;
    background-size: contain;
    zoom: 0.5;  
    width: 71%;
    padding: 0;
    float: right;
    text-align: left;
}


.rules{
  width: 1000px;
  height: 380px;
  background-color: rgb(100, 40, 40);
  opacity: 80%;
  position: absolute;
  text-align: center;
  left: 15%;
  top: 18%;
  border-radius: 13px;
}

.rules-headline::before{
  color: white;
  z-index: 100;
  content: " 游젏릖 Regler  游젏릖";
}

.text-rules::before{
  color: white;
  z-index: 100;
  content: "Betapet 칛r ett ordspel f칬r 2-4 spelare d칛r det g칛ller att fl칛ta samman ord p친 ett spelbr칛de med hj칛lp av bokstavsbrickor. M친let 칛r att f친 s친 m친nga po칛ng som m칬jligt genom att placera brickorna i olika po칛nggivande kombinationer. Flest po칛ng vinner!";
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 290%; 
}

.start-button{
  position: absolute;
  left: 15%;
  top: 80%;
  font-size: 100%;
  height: 60px;
  width: 1000px;
  color: rgb(148, 201, 141);
  background-color: rgb(56, 112, 0);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}
.start-button:hover{
  color: white;
}

.players-menu{
  position: absolute;
  margin: 0;
  top: 73%;
  left: 25%;

  
}

.player1 , .player2, .player3, .player4{
  border-radius: 5px;
  text-align: center;
  height: 40px;
  background-color: rgba(59, 30, 30, 0.788);
  font-size: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

.popmessage{
  position: relative;
  margin: 0;
  padding: 0;
  bottom: -340px;
  left: 250px;
  text-align: center;
}
