@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body {
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}

.board {
  border: 10px solid #245a4c;
  border-radius: 3px;
  display: inline-block;
}


.board > div:nth-child(15n+1){
  clear: both;
}

.board > div::after {
  display:block;
  text-align: center;
}

.players {
  position: absolute;
  top: 10px;
  right: 10px;
}

.stand {
  background-color: rgb(94, 34, 34);
  padding: 10px;
  width: 53vh;
}

.stand::after {
  content: "";
  display: table;
  clear: both;
}

.stand .tile {
  cursor: pointer;
}


.board .tile {
  position: absolute;
}

.tile span {
  position: absolute;
  font-size: 1.5vh;
  right: 3px;
  bottom: 3px;
}

.tile.none {
  border: 0;
  background-color: transparent;
}

.pname{
  font-size: 20px;
  position: absolute;
  top: 0.1%;
  left: 0;
  margin-bottom: 20px; 
}

.pass{
  position: absolute;
  background-color: saddlebrown;
  width: 90px;
  height: 50px;
  top: 17%;
  left: 78.3%;
  border-radius: 5px;
}
.next{
  position: absolute;
  background-color: saddlebrown;
  width: 90px;
  height: 50px;
  top: 17%;
  left: 71.3%;
  border-radius: 5px;
}

/*
Undo button styling
*/

.undo-btn {
  position: absolute;
  background-color: saddlebrown;
  width: 90px;
  height: 50px;
  top: 17%;
  left: 90%;
}

.players-point{
  font-size: 20px;
  float: right;
}

.pass:hover {
color: white;
cursor: pointer;
}
.next:hover {
color: white;
cursor: pointer;
}


.helpBtn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  right: 530px;
  font-family: 'Oswald';
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.helpBtn:hover {
  background-color: rgb(179, 176, 176);
}

.info-popup {
  width: 400px;
  height: 400px;
  background-color: rgb(189, 188, 188);
  position: absolute;
  top: 150px;
  left: 410px;
  border-radius: 10px;
  border: 2px solid rgb(124, 123, 123);
  display: none;
  z-index: 100;
}

.close-info-popup {
  margin: 10px;
  position: relative;
  left: 355px;
  font-family: 'Oswald';
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.close-info-popup:hover {
  background-color: rgb(196, 2, 2);
}

.paragraph-info {
  margin: 20px 30px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
}

*, *:before, :after {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
.whoMadeItInfo{
  right: 500px;
}
.madeBy:hover{
  background-color: green;
}
.madeBy{
  left: 90%;
  top:80%;
  position: absolute;
  
}
.whoMadeItInfo{
  -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: red;
}
.madeBy-popup{
  background: url(https://i.kym-cdn.com/entries/icons/original/000/027/475/Screen_Shot_2018-10-25_at_11.02.15_AM.png);
  background-size: 100% 100%;
  top: 85%;
  right: 2%;
  width: 300px;
  border: solid black;
  display: none;
  position: absolute;
}
.board > div {
  position: relative;
  width: 6vh;
  height: 6vh;
  background-color: forestgreen;
  border: 1px solid #000;
  float: left;
}

.board > div.hover {
  opacity: 0.7;
}

.board > div:nth-child(15n + 1){
  clear: both;
}

.stand {
  clear: both;
  padding-top: 20px;
}

.stand > div, .tile {
  position: relative;
  float: left;
  width: 5.5vh;
  height: 5.5vh;
  border: 1px solid #000000;
  text-align: center;
  cursor: pointer;
  padding-top: 0.2vh;
  font-size: 3.5vh;
  background-color: #fff;
  border-radius: 4px;
}

.board .tile {
  position: absolute;
  top: 0.1vh;
  left: 0.1vh;
}

.is-dragging {
  z-index: 1;
  margin-left: -4vh;
  margin-top: -4vh;
}


.board > div.special-red {
  background-color: red;
}
.board > div.special-orange {
  background-color: rgb(255, 179, 0);
}
.board > div.special-lightblue {
  background-color: lightblue;
}
.board > div.special-blue {
  background-color: blue;
}
.board > div.special-middle {
  background-color: gold;
}

.board > div.special-red::after {
  content: '3 W';
  display: block;
  text-align: center;
  font-size: 1.5vh;
  margin-top: 1.5vh;
  color: #fff;
}


.board > div.special-orange::after {
  content: '2 W';
  display: block;
  text-align: center;
  font-size: 1.5vh;
  margin-top: 1.5vh;
}

.board > div.special-blue::after {
  content: '3 L';
  display: block;
  text-align: center;
  font-size: 1.5vh;
  margin-top: 1.5vh;
}

.board > div.special-lightblue::after {
  content: '2 L';
  display: block;
  text-align: center;
  font-size: 1.5vh;
  margin-top: 1.5vh;
}

.board > div.special-middle::after {
  content: '☆';
  display: block;
  text-align: center;
  font-size: 2.7vh;
  margin-top: 0.5vh;
}

